/* RESET */
body, h1, h2, p, ul {
  padding: 0px;
  margin: 0px;
}

/* GENERAL STYLE */
body {
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: #252525;
}

* {
  box-sizing: border-box;
}

/* MENU */
.menu {
  background: #252525;
  padding: 20px 0;
}

.menu-container {
  max-width: 960px;
  margin: 0 auto;
}

.menu-container::after, .menu-container::before {
  content: '';
  display: table;
  clear: both;
}

a.menu-logo {
  display: block;
  float: left;
  margin-left: 10px;
}

.menu-nav {
  float: right;
  margin-right: 10px;
}

.menu-nav li {
  display: inline-block;
}

.menu-nav a {
  display: block;
  padding: 10px;
  text-decoration: none;
  color: #fff;
  font-size: 1.125em;
}

/* INTRODUCTION */
.introduction {
  background: url("../img/bg-intro.jpg") no-repeat center center;
  background-size: cover;
  padding: 150px 0;
  text-align: center;
  color: #fff;
}

.introduction h1 {
  text-transform: uppercase;
  font-size: 3em;
}

.introduction h1::after {
  content: '';
  display: block;
  width: 20px;
  height: 4px;
  background: #fff;
  margin: 10px auto;
}

.introduction p {
  font-style: italic;
  font-size: 1.125em;
}

/* ABOUT */
.about {
  padding: 60px 0;
}

.about-container {
  max-width: 960px;
  margin: 0 auto;
}

.about-container::after, .about-container::before {
  content: '';
  display: table;
  clear: both;
}

.about h2 {
  text-align: center;
  font-size: 2.25em;
  margin-bottom: 60px;
}

.about-item {
  width: 460px;
  float: left;
  margin: 0 10px;
}

.about-item img {
  display: block;
  max-width: 100%;
}

.about-item h3 {
  font-size: 2.25em;
  line-height: 1em;
  background: #252525;
  width: 220px;
  color: #fff;
  font-style: italic;
  font-weight: normal;
  text-align: center;
  padding: 5px 0 10px 0;
  top: -55px;
  position: relative;
}

.about > p {
  font-size: 1.25em;
  line-height: 1.4em;
  font-style: italic;
  text-align: center;
  margin: 20px auto;
  max-width: 460px;
}

/* PRODUCTS */
.products {
  background: #e7e4d8;
  padding: 60px 0;
  border-top: 3px solid #706950;
  border-bottom: 3px solid #706950;
}

.products-container {
  max-width: 960px;
  margin: 0 auto;
}

.products-container::after, .products-container::before {
  content: '';
  display: table;
  clear: both;
}

.products-item {
  width: 300px;
  float: left;
  margin: 0 10px 20px 10px;
}

.products-item h2 {
  text-align: center;
  font-size: 2.25em;
  margin-bottom: 20px;
}

.products-item h2::before {
  content: '';
  display: block;
  width: 100px;
  height: 100px;
  background: currentColor;
  border-radius: 50%;
  margin: 20px auto;
  border: 5px solid #e7e4d8;
  box-shadow: 0 0 0 10px currentColor;
}

h2.products-paulista::before {
  color: #492901;
}

h2.products-carioca::before {
  color: #c17139;
}

h2.products-mineiro::before {
  color: #d7a54d;
}

.products-item p {
  font-size: 0.875em;
  line-height: 1.4em;
}

.products-btn {
  width: 180px;
  border: 3px solid;
  color: #252525;
  text-decoration: none;
  display: block;
  font-size: 1.125em;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  padding: 15px 0;
  margin: 20px auto 0px auto;
}

/* LOCATIONS */
.locations {
  max-width: 960px;
  margin: 0 auto;
  padding: 20px 0;
}

.locations-item {
  clear: both;
  margin: 60px auto;
}

.locations-item::after, .locations-item::before {
  content: '';
  display: table;
  clear: both;
}

.locations-item img {
  width: 460px;
  display: block;
  float: left;
  margin: 0 10px;
}

.locations-item > div {
  width: 460px;
  float: left;
  margin: 0 10px;
}

.locations-item h2 {
  font-size: 2.25em;
  margin-bottom: 20px;
}

.locations-item p {
  font-size: 1.125em;
  line-height: 1.4em;
  max-width: 320px;
  margin-bottom: 40px;
}

.locations-item a {
  font-size: 1.125em;
  text-transform: uppercase;
  text-decoration: none;
  border: 3px solid;
  color: #252525;
  padding: 10px 20px;
}

/* NEWSLETTER */
.news {
  background: #e7e4d8;
  padding: 30px 0
}

.news-container {
  max-width: 960px;
  margin: 0 auto;
}

.news-container:after, .news-container::before {
  content: '';
  display: table;
  clear: both;
}

.news-info {
  width: 460px;
  margin: 0 10px;
  float: left;
}

.news-info h2 {
  font-size: 2.25em;
}

.news-info p {
  font-size: 1.5em;
  font-style: italic;
}

.news form {
  width: 460px;
  margin: 10px 10px 0 10px;
  float: left;
}

.news form label {
  display: none;
}

.news input {
  width: 320px;
  border: 3px solid #252525;
  background: none;
  font-size: 1.5em;
  font-style: italic;
  font-family: Georgia, 'Times New Roman', Times, serif;
  padding: 10px;
  float: left;
}

.news button {
  color: #fff;
  background: #252525;
  border: none;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 1.5em;
  text-transform: uppercase;
  width: 140px;
  padding: 13px 0;
  cursor: pointer;
}

/* FOOTER */
.footer {
  background: #d6d3c8;
  padding: 40px 0;
}

.footer-container {
  max-width: 960px;
  margin: 0 auto;
}

.footer-container::after, .footer-container::before {
  content: '';
  display: table;
  clear: both;
}

.footer p {
  float: left;
  margin: 0 10px;
  font-size: 1.125em;
  line-height: 1.4em;
}

.footer img {
  float: right;
  margin: 0 10px;
  display: block;
}